{layout="layouts/main"}
<div class="wrapper wrapper--wide whats-on__wrapper tabs">
    <div class="tabs__panel" data-tab-id="just-announced">
        {exp:channel:entries channel="show" orderby="date" sort="desc" limit="6"}
        {event}
        {/exp:channel:entries}
    </div>
    <div class="tabs__panel" data-tab-id="upcoming">
        {exp:channel:entries channel="show" orderby="show_date" sort="asc" limit ="6"}
        {event}
        {/exp:channel:entries}
    </div>
    <div class="tabs__panel" data-tab-id="featured">
        {exp:channel:entries channel="show" search:featured_show="=yes" limit="6"}
        {event}
        {/exp:channel:entries}
    </div>
</div>

